{% extends 'index.html' %}
{% block content %}
<div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">REGISTRATION</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    {% for x in datas %}
    <form role="form" method='POST' action="{% url 'updating' dataid=x.id %}">
      {% csrf_token %}
     
      <div class="card-body">
        <div class="form-group">
        <!--  <label for="exampleInputEmail1">FIRST NAME</label> -->
          <input type="name" class="form-control" id="firstname" name='firstname' value="{{x.firstname}}" placeholder="ENTER FIRST NAME ">
        </div>
        <div class="form-group">
         <!--   <label for="exampleInputEmail1">LAST NAME</label> -->
            <input type="name" class="form-control" id="lastname" name="lastname" value="{{x.lastname}}" placeholder="ENTER LAST NAME">
          </div>
          <div class="form-group">
              <!--   <label for="exampleInputEmail1">LAST NAME</label> -->
                 <input type="name" class="form-control" id="username" name="username" value="{{x.username}}" placeholder="ENTER USERNAME NAME">
               </div>
          <div class="form-group">
          <!--    <label for="exampleInputEmail1">Email address</label> -->
              <input type="email" class="form-control" id="email" name="email" value="{{x.email}}" placeholder="ENTER EMAIL">
            </div>
        <div class="form-group">
       <!--   <label for="exampleInputPassword1">Password</label> -->
          <input type="password" class="form-control" id="password"  name="password" value="{{x.password}}" placeholder="PASSWORD">
        </div>
        <div class="form-group">
            <!--   <label for="exampleInputPassword1">Password</label> -->
               <input type="password" class="form-control" id="confirmpassword"  name="confirmpassword" value="{{x.confirmpassword}}" placeholder="CONFIRM PASSWORD">
             </div>
        <div class="form-group">
                <!--   <label for="exampleInputPassword1">Password</label> -->
              <input type="hidden" class="form-control" id="adminid"  name="adminid">
              </div>
     <!--   <div class="form-group">
          <label for="exampleInputFile">File input</label>
          <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="exampleInputFile">
              <label class="custom-file-label" for="exampleInputFile">Choose file</label>
            </div>
            <div class="input-group-append">
              <span class="input-group-text" id="">Upload</span>
            </div>
          </div>
        </div> -->
    <!--    <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
      </div> -->
      <!-- /.card-body -->

      <div class="card-footer">
        <button type="submit" name="submit" class="btn btn-primary">SAVE</button>
      </div>
     
    </form>
    {% endfor %}
  </div>


{% endblock %}
